html {
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}