html {
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  background-color: #8de2ff;
}

body {
  width: 500px;
  margin: 0 auto;
  background-color: #d3d3d3;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px white;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

button {
  display: block;
  margin: 20px auto;
}
